<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Acceso</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
	<div style="margin-left: 20%; width: 60%;">
		<h1>Actualizar Rol</h1>

		<form th:action="@{/updateUsuario}" th:object="${updUsu}" method="post">
			<p th:if="${msj}" th:text="${msj}"></p>
			<input th:field="*{iduser}" th:placeholder="${updUsu.iduser}" style="display: none;">
			<div class="form-group">
				<label for="codigo">Nombres</label>
				<input th:field="*{name}" type="text" name="nombre" placeholder="${updUsu.name}" class="form-control" required minlength="4" maxlength="60">
			</div>
			<br>
			<div class="form-group">
				<label for="codigo">Apellidos</label>
				<input th:field="*{apellido}" type="text" name="apellido" placeholder="${updUsu.apellido}" class="form-control" required minlength="4" maxlength="60">
			</div>
			<br>
			<div class="form-group">
				<label for="codigo">Fecha de nacimineto</label>
				<input th:field="*{nacimineto}" type="date" name="nacimineto" placeholder="${updUsu.nacimineto}" class="form-control" required>
			</div>
			<br>
			<div class="form-group">
				<label for="codigo">Correo</label>
				<input th:field="*{email}" type="email" name="email" placeholder="${updUsu.email}" class="form-control" required>
			</div>
			<br>
			<div class="form-group">
				<label for="codigo">Contraseña</label>
				<input th:field="*{password}" type="text" name="password" placeholder="${updUsu.password}" class="form-control" required>
			</div>
			<br>
			<div class="form-group">
				<label for="codigo">Rol</label>
				<select th:field="*{role}" class="form-control" required>
						 <option th:if="${updUsu.role == null}" th:value="${ltsRole[0].idrole}" th:text="${ltsRole[0].name}"></option>
						 <option th:each="rol : ${ltsRole}" 
								th:value="${rol.idrole}" 
								th:text="${rol.name}" 
								th:selected="${rol.idrole == (updUsu.role != null ? updUsu.role.idrole : ltsRole[0].idrole)}">
						</option>
				</select>
			</div>
			<br>
			<div class="form-group">
				<input th:field="*{registro}" type="date" name="registro" placeholder="${updUsu.registro}" class="form-control" required style="display: none;">
			</div>
			<br>
			<button class="btn btn-primary" type="submit">Actualizar</button>
		</form>
	</div>
</body>
</html>